*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    /*scroll-behavior: smooth;*/
}
:root{
    --primary-color:#0084FD;
    --primary-light-color:#B5DDFF; 
    --secondary-color: #9793E4;
    --secondary-dark-color: #333333;
    --secondary-color-debug-box2:#CECCE0;
    --text-white:#fff;
    --text-black:#000;
    --text-grey:#5A6E7F;

}

/*debug*/
.debug-box{
    height: 80px;
    background-color: var(--primary-light-color);
    padding: 1rem;
}
.debug-box2{
    height: 80px;
    background-color: var(--secondary-color-debug-box2);
    padding: 1rem;
}

/*Regole css*/
header.site-header{
    background-color: var(--primary-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
}
header.site-header .container{
    height: 100%;
}
main{
   padding-top: 100px;
}
footer{
    background-color: var(--secondary-dark-color);
    color: white;
    padding: 50px;
}
footer p{
    margin-bottom: 50px;
    padding-bottom: 20px;
    text-align: center;
}
#intro .card{
    margin-bottom: 1.5rem;
}
#planning{
    background-color: var(--secondary-color);
    padding: 2rem 0;
}
#planning .column{
    margin: 1rem 0;
}
#testimonial{
    padding: 3rem 0;
}
#testimonial .card{
    margin: 2rem 0;
}
#beneficts{
    background-color: var(--secondary-color);
    padding: 4rem 0;
}
#beneficts .card{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#about{
    padding: 3rem 0;
}
#get-started{
    padding: 3rem 0;
}
#get-started .debug-box2{
    margin: 2rem 0;
    text-align: center;    
}

#about .column {
    margin: 2rem 0;
}
.main-menu{
    display: none;
}
.main-menu ul{
    
    list-style: none;
}
.main-menu li{
    margin-left: 1.5rem;
    font-size: 14px;
}
.main-menu li a{
    text-decoration: none;
}
.hamburger{
    color: var(--text-white);
    font-size: 1.5rem;
}
.text-white{
    color:var(--text-white);
}
.text-black{
    color:var(--text-black);
}
.btn{
    padding: 5px 10px;
    text-decoration: none;  
    border-radius: 50px;
}
.btn-white{
    background-color: var(--text-white);
}
.btn-blue{
    background-color: var(--primary-color);
}
.btn-big{
    padding: 5px 40px;
}
#intro .card:first-child{
    text-align: left;
    padding: 0;
}
.first-card-img{
    width: 60%;
    align-self: flex-end;
}

/*Utility*/
.container{
    max-width: 1170px;
    margin: auto;
    padding: 1.5rem;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.mb-2{
    margin-bottom: 2rem;
}
/*fine utility*/


/*responsive*/
@media screen and (min-width:768px) {
    .container {
        max-width: 740px;
    }
    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card{
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        background-color: var(--primary-light-color);
    }
    #intro .card:first-child{
        width: calc((100%/3 * 2) - 1.5rem);
    }
    #testimonial .card{
        display: flex;
    }
    #testimonial .card div:last-child{
        flex-grow: 1;
    }
    #beneficts .cards{
        display: flex;
        flex-wrap: wrap;
        margin-top: -1rem;
        margin-right: -1rem;
    }
    #beneficts .card{
        margin-top: 1rem;
        margin-right: 1rem;
        width: calc((100% / 2 )- 2rem);
    }
    #about .columns{
        display: flex;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    #about .column{
        width: calc(50% - 2rem);
        margin: 1rem;
    }
    #get-started{
        width: 100%;
        background-color: var(--secondary-color);   
    }
    #get-started .debug-box2{
        background-color: var(--secondary-color-debug-box2);   
    }

}

@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }
    #intro .card:first-child{
        display: flex;

    }
    #intro .card:first-child > div {
        width: 50%;
    }
    #planning .columns{
        display: flex;
        align-items: flex-end;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    #planning .column{
        width: calc(50% - 2rem);
        margin: 1rem;
    }
    #beneficts .card{
        margin-top: 1rem;
        margin-right: 1rem;
        width: calc((100% / 3 ) - 2rem);
    }
    .hamburger{
        display: none;
    }
    .main-menu{
        display: flex;
    }
}
@media screen and (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
    
}