*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#0084FD;
    --primary-light-color:#B5DDFF; 
    --secondary-color: #9793E4;
    --secondary-dark-color: #333333;

}

/*debug*/
.debug-box{
    height: 80px;
    background-color: var(--primary-light-color);
    padding: 1rem;
}

/*Regole css*/
header.site-header{
    background-color: var(--primary-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
main{
   padding-top: 100px;
}
/*Utility*/
.container{
    max-width: 1170px;
    margin: auto;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
/*fine utility*/
#intro .card{
    margin-bottom: 1.5rem;
}

/*responsive*/
@media screen and (min-width:768px) {
    .container {
        max-width: 740px;
    }
    #intro .cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    #intro .card{
        width: calc((100% / 3) - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        background-color: var(--primary-light-color);
    }
    #intro .card:first-child{
        width: calc((100%/3 * 2) - 1.5rem);
    }
    
}

@media screen and (min-width:992px) {
    .container {
        max-width: 960px;
    }
    #intro .card:first-child{
        display: flex;
    }
    #intro .card:first-child > div {
        width: 50%;
    }
    
}
@media screen and (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
    
}